* {
   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 204, 219);
    width: fit-content;
}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(231, 225, 225);
    border: 3px solid rgb(134, 152, 169);
}

nav {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    font-family: Arial, Helvetica, sans-serif
    font-size: 15px;
}

nav ul{
    list-style-type: none;
  }

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
 }

 h1 {
    display: flex;
    justify-content: left;
    margin-left: 50px;
 }

 .name {
    margin-left: 70px;
 }

header .pic {
    position: absolute;
    margin-left: 5px;
}

 .pic {
    width: 50px;
    height: 50px;
 }

 .hero {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(./images/02-hero-bg.jpg);
    background-size: cover;  
 }

 .info {
    margin-right: 5px;
    color: white;
 }


.section_body {
   display: flex;
   flex-direction: row;
   height: 30vh;
}


section div {
    color: white;
}

 .about_me {
    display: flex;
    flex: 1 0 40;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px dotted black;
    
 }

 .about_body {
    display: flex;
    justify-content: center;
    flex: 2 0 60%;
    padding: 30px;

 }



.section_main {
    display: flex;
    justify-content: column;
    

 }

.work {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: row;
    
 }

 .section_work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    border-left: 3px dotted black;
 }








 .portfolio1 {
    display: flex;
    flex-direction: wrap;
    flex: 1;
    align-items: center;
    border: 3px solid darkblue;
    border-radius: 20px;
    padding: 20px;
    
 }

 .portfolio2 {
    display: flex;
    flex-direction: wrap ;
    flex:2 40%;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 3px solid darkblue;
    border-radius: 20px;
    padding: 20px;
 }

 .portfolio3 {
    display: flex;
    flex-direction: wrap ;
    flex:2 40% ;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 3px solid darkblue;
    border-radius: 20px;
    padding: 20px;
 }

 .portfolio4 {
    display: flex;
    flex-direction: wrap ;
    flex:2 ;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 3px solid darkblue;
    border-radius: 20px;
    padding: 20px;
 }

 .portfolio5 {
    display: flex;
    flex-direction: wrap ;
    flex:2 0 40% ;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 3px solid darkblue;
    border-radius: 20px;
    padding: 20px;
 }



.bg1 {
    background-image: url(./images/02-portfolio-4.jpg);
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 10px 10px;
}

.bg2 {
    background-image: url(./images/02-portfolio-2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}

.bg3 {
    background-image: url(./images/02-portfolio-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}

.bg4 {
    background-image: url(./images/02-run-buddy.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}

.bg5 {
    background-image: url(./images/02-portfolio-3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}

.contact_footer {
    color: white;
    list-style: none;
    text-decoration: none;
}





@media screen and (max-width: 992px) {
    .pic {
      visibility: hidden;
    }