:root {
color: var(#fff);
background-color: var(#5b7046) ;
}

body {
    background-color: #5b7046;
}



.header {
    padding: 10px;
    text-align: left;
    background: hsl(208, 46%, 59%);
    color: #fff;
}
  

.header nav ul{
    list-style-type: none;
  }

.header nav ul li {
    display: inline-block;
    margin-right: 25px;
}



.about {
    padding: 10px;
    text-align: left;
    background: hsl(208, 46%, 59%);
    color: #fff;
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    color: #fff;
}

h2 {
    color: white;
}